{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://api.typedream.com/v0/document/public/85f0e644-2e01-4d12-a692-7af649f43bfe_image_4_png.png">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header id="head">
        <a href="{% url 'home' %}" class="logo"> <span class="text-glow"><span class="text-gradient">{{user}}</span></span> </a>
        <ul>
            <li><a href="#about-camp">About Company</a></li>
            <li><a href="#footer">Contact</a></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'register_page' %}">Register</a></li>
            <li><a href="{% url 'login_page' %}" class="active">Log in</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <form method="Post" action="{% url 'logout'%}" novalidate>
                    {% csrf_token %}
                    <button type="submit" class="font-sans bg-zinc-50 text-purple-950 ms-4 py-1.5 px-4 rounded-full">Log out</button>
                </form>
            {% endif %}
        </ul>
    </header>
    <section>
        <img src="{% static 'img/stars.png' %}" id="stars">
        <img src="{% static 'img/moon.png' %}" id="moon">
        <img src="{% static 'img/mountains_behind.png' %}" id="mountains_behind">
        <h2 id="text"><span class="">Let's Go!!</span></h2>
        <a href="#sec" id="btn">About Website</a>
        <img src="{% static 'img/mountains_front.png' %}" id="mountains_front">
    </section>
    <div class="sec" id="sec">
        <div class="textBox">
            <h2><span class="text-glow"> <span class="text-gradient">About</span> Me</span></h2>
            <p>Aperiam expedita sunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, nesciunt.
            doloremque at perferendis quis et harum quam quidem id neque 
            eligendi impedit,similique nesciunt odit numquam minus aliquam aut? 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Iusto eum, aliquid inventore sequi voluptatibus expedita fuga 
            praesentium ducimus accusantium tempore ullam in? Perspiciatis 
            repellat, magni quidem dignissimos nam maiores eum?</p>
        </div>

        <div class="imgBox">
            <img src="{% static 'img/my3D.png' %}" alt="">
        </div>
    </div>
    
    <div class="sec2" id="why">
        <div class="imgBox2">
            <img src="{% static 'img/myastro.png' %}" alt="">
        </div>
        
        <div class="textBox2">
            <h2><span class="text-glow">Why You Should Invest <br> <span class="text-gradient"> In This Company</span></span></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Nostrum veniam, assumenda aliquid tenetur quis dolore 
            voluptatem velit ex fugit illum accusantium quas dolor 
            \cum placeat eveniet quod numquam quos harum? Lorem ipsum dolor, 
            sit amet consectetur adipisicing elit.<br><br> Aperiam expedita sunt 
            doloremque at perferendis quis et harum quam quidem id neque 
            eligendi impedit,similique nesciunt odit numquam minus aliquam aut? 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Iusto eum, aliquid inventore sequi voluptatibus expedita fuga 
            praesentium ducimus accusantium tempore ullam in? Perspiciatis 
            repellat, magni quidem dignissimos nam maiores eum?</p>
        </div>
    </div>

    <div class="sec" id="about-camp">
        <div class="textBox">
            <h2><span class="text-glow"><span class="text-gradient">About </span>The Company</span></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Nostrum veniam, assumenda aliquid tenetur quis dolore 
            voluptatem velit ex fugit illum accusantium quas dolor 
            \cum placeat eveniet quod numquam quos harum? Lorem ipsum dolor, 
            sit amet consectetur adipisicing elit.<br><br> Aperiam expedita sunt 
            doloremque at perferendis quis et harum quam quidem id neque 
            eligendi impedit,similique nesciunt odit numquam minus aliquam aut? 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Iusto eum, aliquid inventore sequi voluptatibus expedita fuga 
            praesentium ducimus accusantium tempore ullam in? Perspiciatis 
            repellat, magni quidem dignissimos nam maiores eum?</p>
        </div>

        <div class="imgBox3">
            <img src="{%static 'img/character.png' %}" alt="">
        </div>
    </div>

    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Me</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/sirichupong.jampasak/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/korn_haidar/"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/KorNxHaidar"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

    <script>
        let stars = document.getElementById('stars');
        let moon = document.getElementById('moon');
        let mountains_behind = document.getElementById('mountains_behind');
        let text = document.getElementById('text');
        let btn = document.getElementById('btn');
        let mountains_front = document.getElementById('mountains_front');
        let header = document.querySelector('header');

        window.addEventListener('scroll',function(){
            let value = window.scrollY;
            stars.style.left = value * 0.25 + 'px';
            moon.style.top = value * 1.05 + 'px';
            mountains_behind.style.top = value * 0.5 + 'px';
            mountains_front.style.top = value * 0 + 'px';
            text.style.marginRight = value * 3.5 + 'px';
            text.style.marginTop = value * 1.5 + 'px';
            btn.style.marginTop = value * 1.5 + 'px';
            header.style.top = value * 0.5 + 'px';
        })
    </script>

    <script>
        //Reveal Animation 
        ScrollReveal({
            //reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });

        ScrollReveal().reveal('.textBox', {delay: 500, origin: 'left'} );
        ScrollReveal().reveal('.imgBox, .imgBox3', {delay: 1000, origin: 'right'} );
        ScrollReveal().reveal('.textBox2', {delay: 500, origin: 'right'} );
        ScrollReveal().reveal('.imgBox2', {delay: 1000, origin: 'left'} );
    </script>
</body>
</html>
